body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  a {
    color: white!important;
    text-decoration: none!important;
  }
  a:hover {
    color: gray!important;
  }
  #Nav {
    margin-top: -150px;
    height: 72px!important;
    position: fixed;
    width: 100%;
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
  }
  #Nav header {
    position: relative;
  }
  ::selection {
    background-color: rgb(66, 57, 57);
    color: white;
  }

#map, #map2 { 
  margin-bottom: 100px;
  aspect-ratio: 2/1;
  border-radius: 5px;
}

#map a, #map2 a {
  color: gray!important;
}

#paysage {
  display: none;
}

#rect2490:hover {
  fill: blue!important;
}

#path2816:active {
  fill: darkgoldenrod!important;
}

.lil-gui {
  top: 150px!important;
}

/* canvas {
  height: 80vh!important;
} */