body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
  }
  a {
    color: white!important;
    text-decoration: none!important;
  }
  a:hover {
    color: gray!important;
  }
  #Nav {
    margin-bottom: 150px;
  }
  ::selection {
    background-color: rgb(66, 57, 57);
    color: white;
  }