body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  a {
    color: white!important;
    text-decoration: none!important;
  }
  a:hover {
    color: gray!important;
  }
  #Nav {
    margin-top: -150px;
    position: fixed;
    width: 100%;
    backdrop-filter: saturate(180%) blur(10px);
  }
  #Nav header {
    position: relative;
  }
  ::selection {
    background-color: rgb(66, 57, 57);
    color: white;
  }