@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  font-family: 'Space Mono', monospace;
  color: rgb(25, 25 , 25);
}


.camera, .gyro {
  position: fixed;
  padding: 10px;
  margin-top: 50px;
  left: 25px;
  border-radius: 7px;
  text-align: left;
  background-color: rgba(25, 25, 25, 0.04);
  border: solid 2px rgb(75, 75, 75);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
}

.gyro {
  text-align: center;
  font-weight: bold;
}

.camera {
  top: 100px;
}

@media (max-width: 1000px) {
  .camera, .gyro {
    margin-top: 25px;
    left: 0vw;
    right: 0vw;
  }
}

#alpha {
  color: #ffff00;
  font-weight: bold;
}
#beta {
  color: #ff0000;
  font-weight: bold;
}
#gamma {
  color: #00ff00;
  font-weight: bold;
}

#videoElement {
  display: none;
}