.carousel-inner {
    border-radius: 10px;

}

.carousel {
    padding: 0;
}

.carousel-control-prev, .carousel-control-next {

    backdrop-filter: saturate(115%) blur(10px);
    opacity: 0.9;
    border-radius: 10px;

}
